.hero{
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 100px);
    /* background-image: url('../assets/home_images/bgImg.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__main-img{
    position: absolute;
    top:0;
    left:0;
    
}

.hero__text{
    border-radius: 40px;
    border:1px solid #404040;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 35px 15px;
    font-size:1.5rem;
    min-height: calc(100vh - 200px);
    /* margin-top: 35px; */
    /* max-width: 70vw; */
    background-color: #ececec;
    
    padding:20px;
    color:black;
    text-align: center;
    display: grid;
    align-items: center;
    flex-direction: column;
    position:relative;

}
.hero__text p{
    color:#404040;
}
.about-us{
    position: absolute;
    bottom: 20px;
    left:50%;
    transform: translateX(-50%);
    width:100px;
}
.img-active{
 bottom: auto;
 top:20px;
 width: 150px;   
}
.hero__text-active{
    align-items: center;
    padding: inherit 20px;
    justify-items: center;
    background-color: rgb(154, 117, 117);
}

.hero__text strong{
    color:#707070;
    display: block;
    font-weight: 400;
    font-size: 2rem;
}
#pink{
    color: #be16ab;
}
/* .flag{
    width: 110px;
    margin: 30px auto 30px 20%;

}
.flag img{
    width: 100%;
} */