.info-bar{
    width: 100%;
    min-height: 30px;
    background-color: #f5ccff;
    text-align: center;

}
.info-bar p{
    font-size: 2.5rem;
color: #404040;
word-spacing: 5px;
letter-spacing: 1px;
font-weight: 300;
font-family: 'Raleway', sans-serif;
padding:5px 20px;
}