
  .grid{
    display: grid;
    height: 100vh;
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    align-content: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3,1fr);
  }

.grid__element{
    position:relative;
    display:grid;
}

.hero__img {
    border-radius: 50%;
    shape-outside: circle();
    transition: transform .3s ease;
    padding: 5px;
  }
  
.hero__img:hover {
    transform: scale(1.1);
        cursor:pointer;
        
  }
.hero__img--stick__to__right{
    justify-self: flex-end;
}
/* element modifier used to vertically move grid element to the bottom */
.hero__img--stick__to__bottom{
    align-self: flex-end;
}
.hero__img--stick__to__left__corner{
    position:absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
}
.hero__img--stick__to__left__corner:hover{
    transform: scale(1.1) translate(-45%,-45%);
}
.middle{
    align-self: center;
    justify-self: start;
}
.middle__end{
    justify-self: end;
    grid-column: 1/-1;
}
.bottom__right{
    align-self: flex-start;
    position: absolute;
    right: 15%;
}
.bottom__left{
    align-self: flex-start;
    position: absolute;
    left: 15%;
}
.top__middle{
    align-self: flex-end;
    justify-self: center;
}
.vertical__middle{
    justify-self: center;
}


.stick_to_left{
    /* justify-self: flex-start; */
}
.bottom{
    align-self: flex-end;
}
.hero .hero__text{
    background-color: #fff;
    font-family: 'Train One';
    border: 10px solid;
    border-radius: 5px;
    font-size: 2rem;
    padding:10px 20px;
    margin:0;
    border-color: lightgrey;
    text-align: center;
    align-self: center;
    justify-self: center;
    grid-column: 1/-1;
}
@media only screen and (orientation: landscape){
    .grid{
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 2fr 1fr 2fr;
        
    }
    .hero__img{
        width:100px;
    }
   
    
}
@media only screen and (max-width:600px){
   .grid{
       grid-template-rows: 3fr 300px 3fr;
   }
    .hero__img{
        width:80px;
    }
   
  
}
@media only screen and (min-width:600px) and (orientation: portrait){
    .hero__img{
        width:150px;
    }
}
@media only screen and (min-width:768px) and (orientation: portrait){
    .hero__img{
        width:150px;
    }
}
@media (min-width:1200px){
    .hero__img{
        width:150px;
    }
   
    .grid{
        max-width: 1200px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        /* grid-template-rows: 1fr 350px 1fr; */
    }
    .hero .hero__text{
        font-size: 5rem;
        padding:20px 40px;
    }
}

